/*desktop*/

  .about {
    display: flex;
  }

  .techskills {
    display: flex;
    flex-direction: column;
  }

  .techskills__container {
    width: 380px;
    background-color: white;
    border: 16px solid rgb(245, 123, 81);
    padding: 8px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }

  .techskills__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2px;
  }

  .techskills__title > p {
    letter-spacing: 2px;
    font-family: 'Bowlby One SC', cursive;
    color: rgb(0,53,87);
    border-bottom: 2px solid rgb(0,53,87);
  }

  .icons-row {
    padding: 4px;
  }

  .blue-icon {
    color: rgb(0,53,87);
    font-size: 4rem;
    padding: 4px;
  }
/* OLD ----- MEDIA QUERIES -  FOR DESKTOP (LONG BECAUSE OF Z-INDEX USE ETC) */

@media only screen and (min-width: 768px) {

  .aboutme {
    color: rgb(245, 123, 81);
    background-color: rgb(0,53,87);
    padding: 60px 120px;
    /*z-index: -1;*/
    height: 400px;
    margin-top: 20vh;
    align-items: center;
    position: relative;
    left: -140px;
    bottom: 60px;
    width: 850px;
    /*border: 4px solid rgb(245, 123, 81);*/
    box-shadow: 0 0 3px #ccc;
  }

  .aboutme > h3 {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Bowlby One SC', cursive;
    color: rgb(245, 123, 81);
    margin-bottom: 24px;
  }

  .aboutme > p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
    text-align: justify;
  }
}
